

<h1>Mi Perfil</h1>
<div class="formLogin">
<p>Bienvenido!, {{user.first_name}} {{user.last_name}}!</p>
<p>Email: {{user.email}}</p>
<p>Edad: {{user.age}}</p>
<p>Rol: {{user.role}}</p>
<a href="/api/sessions/logout">Logout</a>
</div>